<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <form action="hello">
        <input type="text" name="name">
        <input type="number" name="age">
        <input type="number" step="0.1" name="rating">
        <input type="submit" value="Ok">
    </form>
    <form action="calculate">
        <input type="number" step="0.1" name="start">
        <input type="number" step="0.1" name="end">
        <input type="number" step="0.001" name="step">
        <input type="submit" value="Calculate">
    </form>
</body>
</html>